<ion-header>
    <ion-toolbar>
        <nav>
            <ion-img slot="start" class="app_icon" src="/assets/icon/favicon.png" alt="ico"></ion-img>
            <ion-label class="app_title">CAVINO</ion-label>
        </nav>
        <ion-button class="login_button" slot="end" color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="align-content: center" class="welcome-card">
        <ion-img class="landing_picture" src="/assets/cavino.png"></ion-img>
        <ion-card-header>
            <ion-card-title>Bienvenue sur Cavino, ici nous vous proposons une solution pour gérer votre cave à vin</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Veuillez vous authentifier pour utiliser le service, merci</p>
        </ion-card-content>
    </ion-card>
</ion-content>

<!--<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>-->
