<ion-header>
  <ion-toolbar>
    <ion-button class="close_button" slot="end" color="light" (click)="dismissDetail()">
      <ion-icon name="close-circle" color="danger"></ion-icon>
    </ion-button>
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let bottle of bottlesInCellar">
      <ion-label><p>Nom : {{ bottle.name }}</p>
      <p>Description : {{ bottle.description }}</p>
      <p>Prix : {{ bottle.price }}</p>
      <p>Prix moyen : {{ bottle.averagePrice }}</p>
      <p *ngIf="bottle.isOrganic">Bio : Oui</p>
      <p *ngIf="!bottle.isOrganic">Bio : Non</p>
      <p>Type de vin :</p>
        <ul *ngFor="let wineType of bottle.wineTypeList">
          <li>{{ wineType.name }}</li>
        </ul>
      <p>Région : {{ bottle.regionList }}</p>
      <p>Pays : {{ bottle.countryList }}</p>
      <p>Domaine : {{ bottle.domain.name }}</p>
      <p>Milésime : {{ bottle.vintage.name }}</p></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
