<ion-header>
  <ion-toolbar>
    <ion-button class="close_button" slot="end" color="light" (click)="dismissLogin()">
      <ion-icon name="close-circle" color="danger"></ion-icon>
    </ion-button>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>

    <p text-right>Mot de passe oublié ?</p>

    <ion-button [disabled]="disabledButton" type="submit" expand="full" color="primary">Connexion</ion-button>
  </form>

  <p text-center>Vous n'avez pas de compte ?</p>
  <ion-button [disabled]="disabledButton" expand="full" color="danger" (click)="registerModal()">Inscription</ion-button>
</ion-content>
