<ion-header>
  <ion-toolbar>
    <nav>
      <ion-list>
        <ion-item>
          <img src="/assets/icon/favicon.png" class="logo">
        </ion-item>
        <ion-item [routerLink]="dashboard">CAVINO</ion-item>
        <ion-item *ngFor="let menu of menuList">
          <ion-label [routerLink]="menu.url">{{ menu.title }}</ion-label>
        </ion-item>
      </ion-list>
    </nav>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button class="logout_button" slot="end" color="danger" expand="full" color="primary" (click)="disconnect()">Déconnexion</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="user != undefined">
    Bienvenue {{ user.firstname }} {{ user.lastname }}
  </div>
  <h2>Vous trouverez ci dessous les bouteilles actuellement disponibles dans le service.</h2>
  <ion-list>
      <ion-card *ngFor="let bottle of bottlesList">
        <ion-card-header>
          <ion-icon [name]="wine" slot="start"></ion-icon>
          {{ bottle.name }}
        </ion-card-header>
        <ion-card-content>
          Type : {{ bottle.wineTypeList }}<br />
          Région : {{ bottle.regionList }}<br />
          Domaine : {{ bottle.domain.name }}<br />
          Milésime : {{ bottle.vintage.name }}
        </ion-card-content>
      </ion-card>
    </ion-list>
</ion-content>
